{% extends "header.html" %}
{% block body %}
<div style="width:800px;margin:80px auto">
    <p class="intro" style="font-size:20px">
		IWE aims to help developers to investigate their workflows on issue reports in history.
		<br>
		We believe better understanding history is very important in that we can avoid repeating the same mistake and
		learn from successful experience when planning new policies on issues.
		<br>
		<br>
		Author: Zhen Zhong (johnzz@pku.edu.cn), Jiaxin Zhu (zhujiaxin@pku.edu.cn)
	</p>
</div>
{% endblock %}
