{% extends "header.html" %}
{% block body %}
<div style="width:800px;margin:80px auto">
    <p class="intro" style="font-size:20px">
    Resolving issues is an essential part of Free/Libre and Open Source Software (FLOSS)
development.
For large and active projects, there could be hundreds of new issues reported every
month, which have mixed quality.
To deal with this complexity, the projects developed their protocols of resolving
issues (i.e., issue workflows) adapting to the changing environment.
To help understand and develop best practices,
it's important to explore how the workflow evolves in the history, e.g.,
a particular workflow emerges under what circumstances, how efficient
it is and whether it can be improved.
We build Issue Workflow Explorer (IWE) to help practitioners seek answers.
Based on ubiquitous records in issue tracking system, IWE provides
functionalities of discovering workflows, quantifying, visualizing and
comparing their efficiency.
 </p>
  </div>
</div>
{% endblock %}
