{% extends "header.html" %}
{% block body %}
<div>
<center>
<p style="font-size:28px"> If it can not be played, please click <a href="./download/iwe.mp4">here</a>.</p>
<p style="font-size:28px"> If it can not be played, please click <a href="./download/iwe.mp4">here</a>.</p>
<video width="1280" height="720" src="../static/iwe.mp4" controls>
  Your browser does not support playing the video.
</video>
<p style="font-size:28px"> If it can not be played, please click <a href="./download/iwe.mp4">here</a>.</p>
</center>	
</div>
{% endblock %}